* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* > li {
    list-style: none;
    font-size: 1.2rem;
}

* > hr {
    height: 1px;
    border: 1px solid var(--light-grayish-blue);
}

:root {
    --white: #fff;
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red :hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    font-size: 10px;
}

html, body,.main {
    width: 100%;
    height: 100%;
}

.main {
    background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    /* background-attachment: fixed; */
    padding: 10rem;
}

.container {
    background-color: var(--white);
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-container > #wom {
    position: absolute;
    width: 45%;
    top: 6rem;
    left: -10rem;
    /* margin-left: -5rem; */
    /* display: none; */
}

.img-container > #bg {
    position: absolute;
    width: 80%;
    height: 140%;
    top: -16rem;
    left: -45rem;
    /* display: none; */
}

.box {
    width: 100%;
}

#box {
    z-index: 999;
    overflow: visible;
    position: absolute;
    width: 11%;
    top: 30rem;
    left: 15rem;
}

.faq-container {
    width: 100%;
    height: 100%;
    padding: 2rem 6rem;
    margin: auto;
}

.faq-container h1 {
    margin: 0 0 2rem;
    font-weight: 700;
    font-size: 4rem;
}

.faq-container li{
    color: var(--very-dark-grayish-blue);
    padding: 1.5rem 0;
    cursor: pointer;
    font-size: 1.6rem;
}

.faq-container li:hover {
    color: var(--soft-red);
}

.faq-answer {
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.non-active {
    display: none;
}

.faq-question span {
    float: right;
    margin-right: 2rem;
    color: var(--soft-red);
}

.active-question {
    color: var(--dark-blue);
    font-weight: bolder;
}

.main > #wom-mob {
    display: none;
}

@media screen and (max-width: 400px) {
    .main {
        padding: 2rem;
    }

    .container {
        width: 100%;
        height: 80%;
        margin-top: 30%;
        border-radius: 2rem;
    }

    .img-container > #bg {
        top: -27%;
        width: 70%;
        height: 50%;
        left: 15%;
    }

    .img-container > #wom, .box {
        display: none;
    }

    .img-container  {
        position: absolute;
    }

    .main > #wom-mob {
        display: block;
        position: absolute;
        top: 4%;
        left: 20%;
        width: 60%;
        z-index: 1000;
    }

    .faq-container {
        padding: 1rem 2.5rem;
        margin-top: 6rem;   
        z-index: 1000;
    }

    .faq-container h1 {
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }

    .faq-container li {
        padding: 1.7rem 0;
        font-size: 1.4rem;
    }

    .faq-contennt > li {
        z-index: 10;
    }
}